.breadcrumb {
	display: flex;
	list-style: none;
	padding: 0 50px;
	margin: 0;
	height: 64px;
	border-bottom: 1px solid whitesmoke;
	box-sizing: border-box;
		
	.breadcrumb-item {
		display: flex;
		height: 100%;
		align-items: center;
		font-weight: bold;

		a { 
			text-decoration: none;
		}
	}
}
